<section style="background:url(https://i.ytimg.com/vi/P38Dvxmk9kk/maxresdefault.jpg)">
<div class="container" >
<div class="row center-align">
  <div class="col s12 m12 l12">
    <div class="card">
      <div class="card-image">
        <img src="content/img/nye_banner.jpg" class="responsive-img" >
        <span class="card-title">NEW YEAR EVE'17</span>
      </div>
      <div class="card-content">
        <p>#NYE17
~ Happy New Year Eve Party - 2017 ♥
|| Booking start after 12th December || 
31st December, 7:00PM to Midnight (1:30AM)



We are proud to present the biggest Party in Islamabad and Rawalpindi. Make this New year Eve Special and join the biggest party of all time. 

Make this year end with biggest bang of the Year, 

Please book before 20th December to avail discount. 
Located at the Best resort near Lake view. 
<ul>
<li>Dj Live Music.</li>
<li> Dance Floor.</li>
<li> Music Band. </li>
<li> Bon Fire</li>
<li>Fireworks</li>
<li> Sky Lantern at midnight.(31'st)</li>
<li> Photography.</li>
<li> Food Fiesta.</li>
<li> Glowing Kites.</li>
<li> Oxygen Shots (o2)</li> 
<li> Security. </li>
<li> Party Games. </li> 
</ul>

Name of the musician and band will be revealed soon. 
Please make sure to place your booking on our online party portal at : http://party.tangagrill.com/ 

Separation for stag.

|| TICKETS ||
(note: Rate is before 20th December)
> 3000 for Couples.
> 2500 for stag. (limited) 
> 2000 for girls.(single)
> VIP: 4000 / entry. 

>Discount for Groups.*
>Discount for University student..</p>
      </div>
      <div class="card-action">
        <a href="https://fb.com/1823400474541871" class="blue btn">facebook</a>
      </div>
    </div>
  </div>
</div>
</div>


</section>
<table class="striped">
	<thead>
		<tr>
      <th data-field="serial#">Serial#</th>
      <th data-field="full_name">Full Name</th>
			<th data-field="university">university</th>
			<th data-field="tickets">Tickets</th>
      <th data-field="address">status</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="x in userArr" class="hoverable">
			<td>{{x.vcard.serialNo}}</td>
			<td>{{x.vcard.name}}</td>
      <td>{{x.vcard.University}}</td>
      <td>{{x.vcard.tickets}}</td>
       <td>{{x.vcard.status}}</td>
		</tr>

	</tbody>
</table>


 
</div>
<section class="hoverable" style="padding:20px;background:url(http://m.rgbimg.com/cache1rGIoR/users/b/ba/ba1969/600/nkAY7IU.jpg)">
<div class="container" style="background-color:rgba(255,255,255,0.92);padding:30px;padding-left:32px;padding-right:32px;border-radius: 40px">

<div class="row center-align">
<h2>Registration</h2>
</div> 

<!-- <form ng-submit="signIn()">
<div class="row">
<form ng-submit="userCreation()">
  <div class="input-field col s12 l5 m5">
    <input id="icon_prefix" type="text" class="validate" ng-model="email">
    <label for="icon_prefix">Email</label>
  </div>
  <div class="input-field col s12 l5 m5">
    <input id="icon_prefix" type="text" class="validate" ng-model="pass">
    <label for="icon_prefix">Password</label>
  </div>
<div class="col s12 l2 m2 center-align ">
  <button type="submit" class="btn center-align waves-effect waves-light">
  <i class="material-icons right">send</i>Login</button>
  </div>
</form> -->


<div ng-include="'app/modules/home/signup.html'">
</div>

</section>

<br><br><br><br>  